@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
}

.magic-btn {
  display: flex;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  height: 37px;
  box-shadow: inset 0 50px 25px -25px hsl(205, 59%, 51%);
  background-color: hsl(206, 83%, 33%);
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 22px;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease !important;
}

.magic-btn:hover {
  box-shadow: inset 0 -3.21429em hsl(206, 83%, 33%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  @apply w-full md:w-[90%] lg:w-[85%] mx-auto;
}

/* .scrollbar-min::-webkit-scrollbar {
  width: 10px;
} */
.scrollbar-min::-webkit-scrollbar-track {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #7f7f7f;
    border-radius: 10px;
  }
}
.scrollbar-min {
  scrollbar-width: thin;
  scrollbar-color: #7f7f7f #f1f1f1;
}

.content-link {
  position: relative;
}
.content-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #d3e0f0;
  overflow: hidden;
  transition: all 500ms ease;
}
.content-link:hover::after {
  width: 100%;
}
.carousel-content .carousel-item:not(:first-of-type) {
  padding-left: 4px !important;
}

.auth-method-container button:not(:first-of-type) {
  border-left: 1px solid white;
}
.bg-qr-modal {
  background: #1a5684 url("/assets/images/bg-qr-modal.png") no-repeat;
  background-size: cover;
}

@layer components {
  .sponsor-grid a:nth-child(5) {
    @apply col-span-2 md:col-span-1;
  }
}
/* swiper slider styles */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active {
  background-color: #377bbb !important ;
}

/* .tab-menu:hover .tab-menu-icon {
  color: #23507d !important;
  opacity : 1
} */

.wallet-bg {
  
  background: linear-gradient(#000000a9, #000000a9)
    url("../../public/assets/images/wallet-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* pre loader styles */
.pre-logo__outer,
.pre-logo__inner,
.pre-logo__logo {
  fill-rule: evenodd;
}
.pre-logo__outer,
.pre-logo__inner {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.pre-logo__outer {
  fill: #fff;
  -webkit-animation: preloader-rotate 5s linear infinite;
  animation: preloader-rotate 5s linear infinite;
}
.pre-logo__inner {
  fill: #aaa;
  animation: preloader-rotate 3s linear infinite reverse;
}
.pre-logo__logo {
  fill: url(#preloader-gradient);
}
.pre-logo__color {
  stop-color: #fff;
}
.pre-logo__color:nth-child(1) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.5s;
  animation: preloader-gradient 3s linear infinite 0.5s;
}
.pre-logo__color:nth-child(2) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.45s;
  animation: preloader-gradient 3s linear infinite 0.45s;
}
.pre-logo__color:nth-child(3) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.4s;
  animation: preloader-gradient 3s linear infinite 0.4s;
}
.pre-logo__color:nth-child(4) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.35s;
  animation: preloader-gradient 3s linear infinite 0.35s;
}
.pre-logo__color:nth-child(5) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.3s;
  animation: preloader-gradient 3s linear infinite 0.3s;
}
.pre-logo__color:nth-child(6) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.25s;
  animation: preloader-gradient 3s linear infinite 0.25s;
}
.pre-logo__color:nth-child(7) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.2s;
  animation: preloader-gradient 3s linear infinite 0.2s;
}
.pre-logo__color:nth-child(8) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.15s;
  animation: preloader-gradient 3s linear infinite 0.15s;
}
.pre-logo__color:nth-child(9) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.1s;
  animation: preloader-gradient 3s linear infinite 0.1s;
}
.pre-logo__color:nth-child(10) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.05s;
  animation: preloader-gradient 3s linear infinite 0.05s;
}
.pre-logo__color:nth-child(11) {
  -webkit-animation: preloader-gradient 3s linear infinite 0s;
  animation: preloader-gradient 3s linear infinite 0s;
}
@-webkit-keyframes preloader-gradient {
  50% {
    stop-color: #fff;
  }
  60% {
    stop-color: #aaa;
  }
  70% {
    stop-color: #fff;
  }
}
@keyframes preloader-gradient {
  50% {
    stop-color: #fff;
  }
  60% {
    stop-color: #aaa;
  }
  70% {
    stop-color: #fff;
  }
}
@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ====================== */
.pre-logo__outer-2,
.pre-logo__inner-2,
.pre-logo__logo-2 {
  fill-rule: evenodd;
}
.pre-logo__outer-2,
.pre-logo__inner-2 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.pre-logo__outer-2 {
  fill: #002f5e;
  -webkit-animation: preloader-rotate 5s linear infinite;
  animation: preloader-rotate 5s linear infinite;
}
.pre-logo__inner-2 {
  fill: #14a0ff;
  animation: preloader-rotate 3s linear infinite reverse;
}
.pre-logo__logo-2 {
  fill: url(#preloader-gradient);
}
.pre-logo__color-2 {
  stop-color: #002f5e;
}
.pre-logo__color-2:nth-child(1) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.5s;
  animation: preloader-gradient 3s linear infinite 0.5s;
}
.pre-logo__color-2:nth-child(2) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.45s;
  animation: preloader-gradient 3s linear infinite 0.45s;
}
.pre-logo__color-2:nth-child(3) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.4s;
  animation: preloader-gradient 3s linear infinite 0.4s;
}
.pre-logo__color-2:nth-child(4) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.35s;
  animation: preloader-gradient 3s linear infinite 0.35s;
}
.pre-logo__color-2:nth-child(5) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.3s;
  animation: preloader-gradient 3s linear infinite 0.3s;
}
.pre-logo__color-2:nth-child(6) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.25s;
  animation: preloader-gradient 3s linear infinite 0.25s;
}
.pre-logo__color-2:nth-child(7) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.2s;
  animation: preloader-gradient 3s linear infinite 0.2s;
}
.pre-logo__color-2:nth-child(8) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.15s;
  animation: preloader-gradient 3s linear infinite 0.15s;
}
.pre-logo__color-2:nth-child(9) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.1s;
  animation: preloader-gradient 3s linear infinite 0.1s;
}
.pre-logo__color-2:nth-child(10) {
  -webkit-animation: preloader-gradient 3s linear infinite 0.05s;
  animation: preloader-gradient 3s linear infinite 0.05s;
}
.pre-logo__color-2:nth-child(11) {
  -webkit-animation: preloader-gradient 3s linear infinite 0s;
  animation: preloader-gradient 3s linear infinite 0s;
}
@-webkit-keyframes preloader-gradient {
  50% {
    stop-color: #002f5e;
  }
  60% {
    stop-color: #14a0ff;
  }
  70% {
    stop-color: #002f5e;
  }
}
@keyframes preloader-gradient {
  50% {
    stop-color: #002f5e;
  }
  60% {
    stop-color: #14a0ff;
  }
  70% {
    stop-color: #002f5e;
  }
}
@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* profile styles */
.profile-info .profile-info-item:nth-child(odd) {
  background: #d0dae1;
}

.profile-info .profile-info-item:nth-child(even) {
  background: #fff;
}

.wallet-image:hover {
  animation: pop 1s ease;
}
@keyframes pop {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}

.payment-nav .payment-menu {
  border-left: 2px solid #d0dae1;
  border-right: 2px solid #d0dae1;
  border-top: 2px solid #d0dae1;
}
.payment-nav .payment-menu:last-of-type {
  border-bottom: 2px solid #d0dae1;
}

.slider-animation {
  animation: slide 300ms ease-out;
}
@keyframes slide {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.inner-shadow {
  box-shadow: inset 0 50px 25px -15px hsl(205, 59%, 51%);
}

.swal2-container {
  z-index: 9999999999999999 !important;
}

.game-label-gradient {
  background-color: #001b30;
  background-image: radial-gradient(
    at center center,
    hsl(207.1578947368, 100%, 37%),
    hsla(207.1578947368, 100%, 37%, 0.75) 50%,
    transparent
  );
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
